<div class="carousel-inner">
    <div class="carousel slide">
        <mdb-carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex" (activeSlideChange)="activeSlideChange()">
          <mdb-slide *ngFor="let slide of slides; let index=index">
            <img class="d-block w-100" [src]="slide.image">
            <div class="carousel-caption">
                <h1 class ="centertext">{{slide.text}}</h1>
              <h4>Slide {{index}}</h4>
              
            </div>
            
          </mdb-slide>
        </mdb-carousel>
    </div>
  </div>